@page "/sales"
@page "/salesperson"
@inherits DateComponentBase

<h3>SalesComponent</h3>
<p>This is the sales component</p>
<br />
<br />
Date : @dateTime.ToString("yyyy/MM/dd")
<br />
<br />
<br />
<Counter></Counter>


<TitleComponent Department="Sales"></TitleComponent>

@code {
    
}
