@page "/team/{id:int}"
<h3>Team Component</h3>

<p>Team: @team.Name</p>
<br />
<p> Region: @team.Region</p>
<br />
<ul>

    @foreach(var m in members)
    {
    <li>@m.Name | @m.Age</li>
    }


</ul>



@code {
    [Parameter]
    public int Id { get; set; }

    private Team team;
    private IEnumerable<Member> members;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var teams = new List<Team>();
        teams.Add(new Team { Id = 1, Name = "Red", Region = "Region One" });
        teams.Add(new Team { Id = 2, Name = "Blue", Region = "Region Two" });
        teams.Add(new Team { Id = 3, Name = "Yellow", Region = "Region Three" });

        var allMembers = new List<Member>();
        allMembers.Add(new Member { Id = 1, Name = "John", Age = 20, TeamId = 1 });
        allMembers.Add(new Member { Id = 2, Name = "Mike", Age = 25, TeamId = 1 });
        allMembers.Add(new Member { Id = 3, Name = "Joe", Age = 26, TeamId = 2 });
        allMembers.Add(new Member { Id = 4, Name = "Rose", Age = 21, TeamId = 2 });
        allMembers.Add(new Member { Id = 5, Name = "Ryan", Age = 25, TeamId = 3 });
        allMembers.Add(new Member { Id = 6, Name = "Fox", Age = 25, TeamId = 3});

        team = teams.FirstOrDefault(t => t.Id == this.Id);
        members = allMembers.Where(t => t.TeamId == this.Id);

    }

    public class Team
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Region { get; set; }
    }


    public class Member
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public int TeamId { get; set; }
    }
}
